<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
  <link href="/webjars/bootstrap-icons/1.11.1/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<script src="/webjars/bootstrap/5.3.2/js/bootstrap.bundle.js"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <div class="container-fluid">

    <img src="/icons/icon2.png" alt="Votre Icône" class="icon-personalize me-5 " style="width: 50px; height: 50px;">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 me-3">
        <li class="nav-item me-3">
          <a class="nav-link" href="#">
            <i class="bi bi-house-door"></i>  Accueil
          </a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="#">
            <i class="bi bi-link-45deg"></i> Park Auto
          </a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="#">
            <i class="bi bi-calendar-event"></i> Reservation
          </a>
        </li>
        <li class="nav-item disabled me-5">
          <a class="nav-link" href="#">Disabled</a>
        </li>
        <li class="nav-item">
          <!-- Apply the "custom-search-input" class to the form to change its width -->
          <form class="d-flex custom-search-input">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn  d-flex align-items-center" type="submit">
              <i class="bi bi-search"></i>
            </button>
          </form>
        </li>
      </ul>
    </div>

    <!-- "Account" dropdown is placed here at the end -->
    <ul class="navbar-nav mr-3">
      <li class="nav-item dropdown custom-margin-right">
        <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-person"></i> Account
        </a>
        <ul class="dropdown-menu" aria-labelledby="accountDropdown">
          <li><a class="dropdown-item" href="#">Login</a></li>
          <li><a class="dropdown-item" href="#">Register</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div layout:fragment="content"></div>
</body>
</html>
